@media screen and (max-width: 768px) {
  .home-page-banner-heading {
    width: auto;
    padding: 16px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: 50vh;
  }

  .home-page-banner-heading {
    top: 45%;
  }

  .home-page-banner-title {
    font-size: 1.5em;
  }

  .home-page-banner-desc {
    line-height: 25px;
  }

  .scroll-btn-wrapper {
    display: none;
  }

  #navbarSupportedContent {
    background: rgb(255, 255, 255);
    position: fixed;
    top: 56px;
    left: 0px;
    right: 0px;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(114,114,114,1);
    -moz-box-shadow: 0px 1px 5px 1px rgba(114,114,114,1);
    box-shadow: 0px 1px 5px 1px rgba(114,114,114,1);
  }

  .navbar-light .navbar-nav .nav-link.custom-nav-link {
    padding: 10px;
    color: #07004F;
    font-size: 1.2em;
  }

  .home-page-banner-wrapper {
    background: url('../images/mobile_hero_bg.svg');
    background-position: center;
    background-size: cover;
  }

  .mobile-hero-img-wrapper {
    display: block;
  }

  .mobile-hero1 {
    width: 30%;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .mobile-hero2 {
    width: 70%;
    position: absolute;
    top: 25%;
    margin: auto;
    left: 0;
    right: 0;
  }

  .steps1-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .step1-img-wrapper {
    height: auto;
    text-align: center;
  }

  .step1-img {
    position: static;
    margin: auto;
  }

  .step1-txt {
    padding: 0;
  }

  .steps2-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .step2-txt {
    padding: 0;
  }

  .step2-img-wrapper {
    height: 200px;
  }

  .step21-img {
    position: absolute;
    left: 35%;
    top: 0;
    height: 180px;
  }

  .step22-img {
    position: absolute;
    left: 51%;
    top: 30px;
    height: 180px;
  }

  .step2-txt {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .steps3-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
  }

  .step3-img-wrapper {
    height: 250px;
  }

  .step31-img {
    top: 17%;
    left: 4%;
  }

  .step32-img {
    top: 59%;
    left: 12%;
  }

  .step33-img {
    top: 40%;
    left: 34%;
  }

  .step3-txt {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .steps4-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .step4-txt {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .step4-img-wrapper {
    height: 225px;
  }

  .step41-img {
    left: 10%;
  }

  .step42-img {
    left: 7%;
  }

  .steps5-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .step52-img {
    left: 65%;
  }

  .footer-wrapper {
    display: block;
  }

  .footer-links-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-links,
  .footer-links:active,
  .footer-links:visited {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 4px;
    text-align: center;
  }

  .footer-links:hover,
  .footer-links:focus {
    text-decoration: none;
  }

  /* Services Page Styles */

  .services-banner {
    display: none;
  }

  .services-banner-mobile {
    display: block;
    width: 100%;
  }

  /* Company Page Styles */
  .company-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }

  .company-profile {
    display: none;
  }

  .company-profile-mobile {
    display: block;
    width: 100%;
  }

  .company-profile-txt {
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
  }

  .client-logos {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .client-logo-wrapper {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
  }

  /* Contact Page Styles */
  .contact-banner-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }

  .contact-banner-img {
    display: none;
  }

  .contact-banner-img-mobile {
    display: block;
    width: 100%;
  }

  .contact-lbl {
    display: none;
  }

  /* Press Page Styles */

  .press-banner-wrapper {
    height: 100vh;
  }
  .press-banner-img {
    display: none;
  }

  .press-banner-img-mobile {
    display: block;
    width: 100%;
  }

  .press-banner-heading {
    top: 11%;
    font-size: 2em;
    left: 51%;

    -webkit-transform: translateX(-46%);
    -ms-transform: translateX(-46%);
    transform: translateX(-46%);
  }
}

/* Tablets */
@media screen and (min-width: 425px) and (max-width: 1024px) {
 .step4-img-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .step3-img-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}